* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: aqua;
    background-repeat: no-repeat;
}

.container{
    width:80%;
    border-radius: 20px;
    color:white;
    background-color: rgb(41, 41, 41);
    margin: 90px auto;
    padding: 17px;
}

.div-titulo{
    font-family: sans-serif;
    text-align: center;
}

label {
    font-family: sans-serif;
    margin-left: 10px;
}

#input {
    border-radius: 5px;
    font-size: 15px;
    width:50%;
    margin-left: 10px;
}

li {
    margin-bottom: 10px;
    font-family: arial;
}
button {
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 600;
    padding: 6px;
}

button:hover{
    background-color: white;
    color:black;
    transition: 0.5s;
    cursor: pointer;
}

.btn-add{
    background-color: rgb(13, 109, 13);
}

.btn-remove {
    background-color: red;
}

@media  screen and (min-width:398px) and (max-width:638px) {
    #input{
        width: 60%;
    }
}